* {
  box-sizing: border-box;
}

.container {
  width: 600px;
  height: 600px ;
} 
.grid {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.cell {
  border: 0.5px solid rgb(174, 175, 174);
  width: calc( 100% / 10);
  height: calc(100%/10);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.marmalade {
  background-image: url('kisspng-dollar-sign-scalable-vector-graphics-symbol-vector-money-symbol-5a9a2892ccd255.998545541520052370839.png');
}

/* .marmalade.eaten {
  background-image: url('https://static.wikia.nocookie.net/paddingtonbear/images/f/fa/Spilled_Jar_of_Marmalade.png');
} */

.paddington {
  background-image: url('Frog-Meme-PNG-Transparent.png');
}
.paddington.left {
  transform: rotate(-90deg);
}

.paddington.marmalade.eaten {
  background-image: url('https://2.bp.blogspot.com/-kQFVZT-wee4/XFW4-K-crkI/AAAAAAAAI_U/60FpZ-gaeJEitxhvBev2gcI1xOUrVy1YwCLcBGAs/s1600/Paddington%2BTransparent.png'),
    url('https://static.wikia.nocookie.net/paddingtonbear/images/f/fa/Spilled_Jar_of_Marmalade.png');
}

.evil-paddington {
  background-image: url('Frog-Meme-PNG-Transparent.png');
  background-color: red;
}

/* @media (max-width:500px){
  .container {
  width: 200px;
  height: 200px ;
} 
}

  .cell{
  width: calc( 100% / 10);
  height:cacl( 100% / 10);
  background-color: palevioletred;
 } */


 .evil-paddington {
  background-image: url('Frog-Meme-PNG-Transparent.png');
  background-color: red;
}